<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Cek 📑🗓 | Web Apps</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">API Cek 📑🗓</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Jenis Tagihan</label>
                            <select class="form-select" aria-label="Default select example" name="jenis">
                                <option value="bpjs">BPJS Kesehatan</option>
                                <option value="pdam">PDAM</option>
                                <option value="postpaid">Postpaid Electricities</option>
                                <option value="prepaid">Prepaid Electricities</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Nomor Pelanggan</label>
                            <input type="number" class="form-control" id="no_pelanggan" name="no_pelanggan"
                                   maxlength="15">
                        </div>

                        <div class="mb-3" id="operator_id">
                            <label class="form-label">Operator ID</label>
                            <select class="form-select" aria-label="Default select example" name="operator_ids"
                                    id="operator_ids">
                            </select>
                        </div>


                        <button type="submit" id="submit" class="btn btn-success">Cek Tagihan</button>
                        <button type="reset" id="reset" class="btn btn-danger">Reset</button>
                    </form>
                </div>

                <div class="card-footer">
                    <p class="text-center">Made with ❤️ by <a href="https://github.com/sandrocods/">Sandro Cods</a></p>
                </div>


            </div>
        </div>

        <div class="col-md-4 offset-md-4 mt-5" id="result_class">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Detail Tagihan</h3>
                    <script>
                        var d = new Date().toLocaleString('id-ID', {
                            year: 'numeric',
                            month: 'numeric',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: 'numeric',
                            second: 'numeric'
                        }, {timeZone: 'Asia/Jakarta'});
                        document.write("<p class='text-center text-success'>Checked at : " + d + "</p>");


                    </script>
                </div>
                <div class="card-body">
                    <div id="result">

                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-center">Made with ❤️ by <a href="https://github.com/sandrocods/">Sandro Cods</a></p>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

<script>

    function rupiah(money){
        return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(money);

    }

    $(document).ready(function () {
        var result_div = document.getElementById('result_class');
        result_div.style.display = 'none';
        var jenis = $('select[name=jenis]').val();
        if (jenis != 'pdam') {
            $('#operator_id').hide();
        }

        $('select[name=jenis]').change(function () {
            var jenis = $('select[name=jenis]').val();
            if (jenis == 'pdam') {
                $('#operator_id').show();
                var base_api_pdam = window.location.origin + '/api/pdamInquiries/1';
                $.ajax({
                    url: base_api_pdam,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var operator_ids = $('select[name=operator_ids]');
                        operator_ids.empty();
                        $.each(data.data, function (key, value) {

                            operator_ids.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });

            } else {
                $('#operator_id').hide();
            }
        });



        $('#submit').click(function (e) {
            e.preventDefault();
            var jenis = $('select[name=jenis]').val();
            var no_pelanggan = $('input[name=no_pelanggan]').val();

            if (no_pelanggan == '') {
                swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Nomor pelanggan tidak boleh kosong',
                });
                return false;
            }


            var base_api = window.location.origin + '/api/';

            if (jenis == 'pdam') {
                var url = base_api + 'pdamInquiries';
            } else if (jenis == 'bpjs') {
                var url = base_api + 'bpjsKesehatanInquiries';
            } else if (jenis == 'postpaid') {
                var url = base_api + 'postpaidInquiries';
            } else if (jenis == 'prepaid') {
                var url = base_api + 'prepaidInquiries';
            }

            swal.fire({
                title: 'Loading...',
                didOpen: () => {
                    swal.showLoading()
                }
            });

            $.ajax({
                url: url + '/' + no_pelanggan,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.status) {

                        swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Data berhasil diambil',
                            showConfirmButton: false,
                            timer: 1000
                        });


                        var result_html = '';
                        if (jenis == 'pdam'){

                            result_html += '<p> Customer number : ' + data.customer_number + '</p>';
                            result_html += '<p> Customer name : ' + data.customer_name + '</p>';
                            result_html += '<p> Start meter : ' + data.bills[0].start_meter + '</p>';
                            result_html += '<p> End meter : ' + data.bills[0].end_meter + '</p>';
                            result_html += '<p> Bill period : ' + data.bills[0].bill_period + '</p>';
                            result_html += '<p> Amount : Rp. ' + rupiah(data.bills[0].amount) + '</p>';

                        } else if (jenis == 'bpjs'){

                            result_html += '<p> Customer number : ' + data.customer_number + '</p>';
                            result_html += '<p> Customer name : ' + data.customer_name + '</p>';
                            result_html += '<p> Count family : ' + data.count_family_members + '</p>';
                            result_html += '<p> Amount : ' +  rupiah(data.amount) + '</p>';

                        } else if (jenis == 'postpaid'){

                            result_html += '<p> Customer number : ' + data.customer_number + '</p>';
                            result_html += '<p> Customer name : ' + data.customer_name + '</p>';
                            result_html += '<p> Bill period : ' + data.period[0] + '</p>';
                            result_html += '<p> Segmentation : ' + data.segmentation + '</p>';
                            result_html += '<p> Stand Meter : ' + data.stand_meter + '</p>';
                            result_html += '<p> Amount : ' + rupiah(data.amount) + '</p>';

                        } else if (jenis == 'prepaid'){

                            result_html += '<p> Customer number : ' + data.customer_number + '</p>';
                            result_html += '<p> Customer name : ' + data.customer_name + '</p>';
                            result_html += '<p> Segmentation : ' + data.segmentation + '</p>';
                            result_html += '<p> Power : ' + data.power + '</p>';

                        }
                        result_div.style.display = 'block';
                        $('#result').html(result_html);
                    } else {
                        swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.message,
                            showConfirmButton: false,
                            timer: 1900
                        });
                    }
                },
                error: function (xhr, status, error) {
                    swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        showConfirmButton: false,
                        timer: 1900
                    });
                }
            });

        $('#reset').click(function (e) {
            e.preventDefault();
            result_div.style.display = 'none';
            $('#result').html('');
            var no_pelanggan = $('input[name=no_pelanggan]').val('');
        });
        });
    });


</script>
</body>
</html>